* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
html {
    font-size: 62,5%;
}
.wrapper {
    width: 100vw;
    height: 100vw;
    background-color: #29BF8F;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2.0rem;
}
.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.menu li {
    list-style: none;
    text-decoration: none;
}
.list-nav-bar a:hover {
    color: black;
}
.menu a{
    color: white;
    text-decoration: none;
}
.main {
    margin: 0 auto;
    width: 80vw;
    height: 8.0rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
h1 {
    font-size: 3.0rem;
}
span {
    color: red;
}
.download-cv {
    padding: 10px 20px;
    background-color: red;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(red, green, blue, alpha);
}
