* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62,5%;
    background-image: url(./imagen/imagen1.webp);
    background-size: cover;
}   
body {
    font-size: 1.6rem;
}
header {
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
}
.logo img {
    height: 50px;
}
.nav-bar {
    margin-top: 0.2rem;
    list-style: none;
    background-color: black;
    display: flex;
}    
.list-nav-bar a {
    color: white;
    text-decoration: none;
}
.list-nav-bar a:hover {
    color: blue;
}
.list-nav-bar a:active {
    color: white;
}
